/* Adapted from Uiverse.io by cbolson */
.viewModeToggle {
  --_switch-bg-clr: var(--color-surface-variant);
  --_switch-padding: 4px;
  --_slider-bg-clr: var(--color-primary);
  --_slider-bg-clr-on: var(--color-primary);
  --_slider-txt-clr: #ffffff;
  --_label-padding: 0.75rem 1.2rem;
  --_switch-easing: cubic-bezier(0.47, 1.64, 0.41, 0.8);

  color: var(--color-text-primary);
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
  isolation: isolate;
  border-radius: 9999px;
  cursor: pointer;
}

.viewModeToggle input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.viewModeToggle > span {
  display: grid;
  place-content: center;
  transition: opacity 300ms ease-in-out 150ms;
  padding: var(--_label-padding);
  font-weight: 600;
  font-size: 0.95rem;
}

.viewModeToggle::before,
.viewModeToggle::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  transition: inset 150ms ease-in-out;
}

/* switch slider */
.viewModeToggle::before {
  background-color: var(--_slider-bg-clr);
  inset: var(--_switch-padding) 50% var(--_switch-padding) var(--_switch-padding);
  transition:
    inset 500ms var(--_switch-easing),
    background-color 500ms ease-in-out;
  z-index: -1;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.08),
    0 1px rgba(255, 255, 255, 0.3);
}

/* switch bg color */
.viewModeToggle::after {
  background-color: var(--_switch-bg-clr);
  inset: 0;
  z-index: -2;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
}

.viewModeToggle:has(input:checked):hover > span:first-of-type,
.viewModeToggle:has(input:not(:checked)):hover > span:last-of-type {
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 100ms;
}

/* checked - move slider to right */
.viewModeToggle:has(input:checked)::before {
  background-color: var(--_slider-bg-clr-on);
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 50%;
}

/* checked - set opacity */
.viewModeToggle > span:last-of-type,
.viewModeToggle > input:checked + span:first-of-type {
  opacity: 0.7;
  color: black;
}

.viewModeToggle > input ~ span:first-of-type {
  opacity: 1;
  color: white;
}

.viewModeToggle > input:checked ~ span:last-of-type {
  opacity: 1;
  color: white;
}
